$side_bar_font_color: #ffffff;
$side_bar_background_color: #253141;
$side_bar_grouplists_bakground_color: #2f3e51;

$main_chat_btn_color: #38aef0;
$main_chat_font_color: #333333;
$main_chat_top_background_color: #ffffff;
$main_chat_top_border_color: #eeeeee;
$main_chat_top_member-font_color: #999999;

$main_chat_middle_background_color: #fafafa;
$main_chat_middle_timestamp_color:#999999;
$main_chat_middle_message_font_color: #434a54;

$main_chat_bottom_background_color: #d2d2d2;
$main_chat_bottom_submit_btn_font_color: #ffffff;